In [1]:
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

import pymysql
pymysql.install_as_MySQLdb()

#from config import dbuser, dbpass, dbhost, dbport

In [10]:
cl_measure = pd.DataFrame(pd.read_csv('Resources/clean_hawaii_measurements.csv'))
cl_station = pd.DataFrame(pd.read_csv('Resources/hawaii_stations.csv'))
cl_measure.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [3]:
station_names = []
for ind, row in cl_station.iterrows():
    station_names.append(row['station'])

In [4]:
engine = create_engine('sqlite:///Base/hawaii.sqlite')

In [5]:
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

In [6]:
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [7]:
Base.metadata.create_all(engine)

In [11]:
cl_measure.to_sql(con=engine, name=Measurement.__tablename__, if_exists='replace')
cl_station.to_sql(con=engine, name=Station.__tablename__, if_exists='replace')